= form_for [@patron , @reservation] do |f|
    =f.hidden_field :patron_id, value: @patron.id
    =f.label :no_of_people
    =f.text_field :no_of_people, placeholder: "Number in Party"
    %br
    =f.label :reservation_date 
    = f.date_select :reservation_date, :order => [:month, :day, :year]
    %br
    =f.label :table_id
    =f.text_field :table_id, placeholder: "Table"
    %br
    - @tables.each do |table|
        = check_box_tag 'table[table_ids][]', table.id, @table.table_id.include?(table_id), {id: "table_id_#{table.id}"}
        = label_tag "table_id_#{table.id}", table.seats
        %br


    =f.submit 
%hr
= link_to "home", root_path

