%h3 Reservation Information
= @reservation.name
%br
= @reservation.phone_number
%br
= @reservation.num_of_people
%br
= @reservation.time
%br
= @reservation.special_request
%br

= link_to 'Home', root_path